@use 'header';
@use 'variaveis';
@use 'shows';
@use 'about';
@use 'languages';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Montserrat;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

body {
    background-color: #000;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$textoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$textoSecundario;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.link-text {
    @include text(18px);
    color: variaveis.$textoSecundario;
    text-decoration: underline
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
}

.wrapper {
    width: 100%;
    margin: 0 auto;

    &__section {
        display: block;
        background-color: #fff;
    }

    &__module a {
        font-family: Montserrat, sans-serif;
        transition: .5s;
        margin-bottom: 10vw;

        @media (max-width: 768px) {
            width: 100%;
            padding: 0 15px;
            margin-bottom: 35vw;

            h1 {
                font-size: 24px;
            }
        }

        &:hover {
            transform: scale(1.02);
            transition: .5s;
        }
    }

    &__module.parallax {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh !important;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;

        &.parallax:after {
            content:"";
            height: 100%;
            width: 100%;
            position: absolute;
            background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
            background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
            background: -o-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
        }

        &.parallax-1 {
            background-image: url(https://images.unsplash.com/photo-1495679107927-a152a875c83f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        }

        &.parallax a{
            color: #fff;
            text-align: center;
            font-size: 32px;
            z-index: 1;
            cursor: pointer;
        }
    }
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$textoSecundario;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corDeFundoBotaoPrimario;

    &:hover {
        background-color: lighten(variaveis.$corDeFundoBotaoPrimario, 3%);
    }

    &--dark {
        background-color: rgba(variaveis.$corDeFundoBotaoDark, 0.8);
        border-color: variaveis.$textoSecundario;
        transition: .5s;

        &:hover {
            background-color: variaveis.$textoSecundario;
            color: variaveis.$corDeFundo;
            transition: .5s;
        }
    }
}